@page "/testCascading"

<h3>TestCascading</h3>

<label for="input1">Value 1 </label>
<input id="input1" class="form-control" @bind="CascadedValue1" />

<label for="input2">Value 2 </label>
<input id="input2" class="form-control" @bind="CascadedValue2" />

<CascadingValue Value="@CascadedValue1" Name="ValueCascaded1" TValue="string">
     <CascadingValue Value="@CascadedValue2" Name="ValueCascaded2">
        <Level1Cascading></Level1Cascading>
    </CascadingValue>
</CascadingValue> 

<CascadingValue Value="CascadedValue1" Name="ValueCascaded1">
    <CascadingValue Value="CascadedValue2" Name="ValueCascaded2">
        <Level1Cascading>
            <Level2Cascading></Level2Cascading>
        </Level1Cascading>
    </CascadingValue>
</CascadingValue>