@page "/testDragAndDrop"
@using Blazor.Pages.Components
@using Microsoft.EntityFrameworkCore


<h3>DragAndDrop</h3>
@if (_items != null)
{
    
    <div class="d-flex flex-column mud-width-full mud-height-full">
        <CascadingValue Value=_items>
            <DragAndDropComponent T="Item"
                                  Title="@($"Etapes de la gamme")"
                                  Zones="_zones"
                                  OnChildChange="Do"
                                  OnClickDeleteItem="Delete"
                                  OnClickEditItem="Edit">
            </DragAndDropComponent>
        </CascadingValue>
    </div>
















}