<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div @onclick="Cancel"></div>
    <div class="modal-dialog " style="z-index: 1050">
        @* ReSharper disable once HexColorValueWithAlpha *@
        <div class="modal-content" style="background-color: #fff0; border-style: hidden">
            <div class="modal-body @ClassCSS">
                @Message
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    public BlazoredModalInstance BlazoredModal { get; set; } = default; 

    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public string? ClassCSS { get; set; }

    private async Task Cancel() => await InvokeAsync(async () => await BlazoredModal!.CancelAsync(BlazoredModal).ConfigureAwait(false));
}
