@page "/"
<h3>Page index</h3>


<p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-info btn-sm" @onclick="GenerateData">Generate Data</button>
                <button class="btn btn-danger btn-sm" @onclick="DropData">Drop Data</button>
            </div>
        </div>
    </div>
</p>


<p>
    <div style="height: 1000px; width: 100%; background-color: red; border-style: double">
</div>
</p>
