@inherits Blazor.Pages.Components.ChildComponentBase

<EditForm Model="Gamme" OnValidSubmit="SubmitGamme">

    <DataAnnotationsValidator />

    <div class="row">
        <p>
            <div class="form-group col-12">
                <label for="nom"><b>Nom de la gamme: </b></label>
                <InputText Id="nom" Class="form-control" @bind-Value="@Gamme.Nom"></InputText>
                <ValidationMessage For="@(() => Gamme.Nom)" />
            </div>
        </p>
        <p>
            <div class="form-group col-12">
                <label for="nom"><b>Commentaire: </b></label>
                <InputTextArea Id="nom" Class="form-control" @bind-Value="@Gamme.Commentaire"></InputTextArea>
                <ValidationMessage For="@(() => Gamme.Commentaire)" />
            </div>
        </p>

        <br />

    </div>

    <br />
    <button class="btn btn-info" type="submit">Ok</button>
    <button class="btn btn-danger" @onclick="Cancel">Cancel</button>
</EditForm>